@import url(https://fonts.googleapis.com/css?family=Jura:500);
@import url(https://fonts.googleapis.com/css?family=Dosis);

body
{
	margin:0;
	margin-bottom: 80px;
	font-family: 'PT Sans', sans-serif;
	background-position:center;
	background-color: #FFF8DC;
}

h1 {
	font-size: 3em;
}

h1, h2, h3, h4{
	font-family: 'Jura', sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
}

fieldset {
	border: none;
	border-radius: 5px;
}

table
{
	border: solid medium black;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
	text-align: center;
}

tr:nth-child(odd)
{
	background-color: #F5F5DC;
}

tr:nth-child(even)
{
	background-color: #DCDCDC;
}

caption
{
		background-color: #DCDCDC;
		border: solid medium black;
}

input[type=submit] {
	border-radius: 5px;
	background-color: #DCDCDC;
	margin: auto;
}

.title {
	float: left;
	padding-left: 1%;
	padding-top: .5%;
	font-family: 'Dosis', sans-serif;
}

.titleImg {
	height: 65%;
	float: left;
	padding-left: 3%;
	padding-top: 1%;
}

.spacer {
	height: 80px;
	width: 100%;
}

.menu {
	height: 90px;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 3px #787878;
}

.menu h1 {
	font-size: 4em;
	padding-top: 0;
}
 
.menu ul {
	list-style: none;
	text-align: center;
	padding-top: 1.4%;
	padding-right: 10px;
	margin: 0;
	float:right;
}

.menu li {
	font-family: 'Oswald', sans-serif;
	font-size: .9em;
	line-height: 50px;
	border-bottom: none;
	display: inline-block;
    padding-right: 10px;
}
 
.menu a {
	text-decoration: none;
	color: #6666FF;
	display: block;
	transition: .3s background-color;
}

.menu a:hover {
	color: #000099;
	transition: .3s color;
}

.menu a:active  {
	color: #00004D;
}
 
.outerCont {
	margin: auto;
	width: 30%;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 1px #787878;
}
 
.outerCalCont {
	margin: auto;
	width: 70%;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 1px #787878;
}

.outer2GraphCont {
	margin: auto;
	width: 85%;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 1px #787878;
}
 
.outerHomeCont {
	width: 60%;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 1px #787878;
	margin-bottom: 80px;
	margin-left: 20%;
	float: left;
}

.outerSideCont {
	width: 15%;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 1px #787878;
	margin-left: 2.5%;
	float: left;
}

.homeImgsDiv{
	margin: auto;
	text-align: center;
	width: 100%;
}

.homeImgs{
	height: 85px;
	padding-left: 20px;
	padding-right: 20px;
}

.innerCont {
	padding: 20px;
}
 
.innerCont h2 {
	margin-bottom: 10px;
}

.indexCont {
	margin: auto;
	width: 80%;
	height: 700px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 1px #787878;
	position:relative;
}
 
.indexImg{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	opacity: 0.25;
	filter: alpha(opacity=25);
	border-radius: 5px;
	position:absolute;
 }
 
.loginField {
	border: thin solid black;
	border-radius: 3px;
	width: 90%;
	height: 20px;
}
 
.Span {
	color:red;
	font-size:.9em;
}

.modText {
	width: 30px;
}
 
#calendar {
	width: 95%;
	margin: 0 auto;
}
 
#chartDiv {
	width: 95%;
	height: 300px;
	margin: 0 auto;
}
 
#chartDiv1 {
	width: 95%;
	height: 300px;
	margin: 0 auto;
}
 
 #chartDiv2 {
	width: 95%;
	height: 300px;
	margin: 0 auto;
}

#chartDivA {
	width: 50%;
	height: 300px;
	margin: 0 auto;
	float: left;
}

#chartDivB {
	width: 50%;
	height: 300px;
	margin: 0 auto;
	float: right;
}
 
 #pieChart {
	width: 95%;
	height: 300px;
	margin: 0 auto;
}
